{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ unit.name }} Edit Assignment {{ assignment.name }}{% endblock %}

{% block content %}
    <h1>Edit Assignment {{ assignment.name }}</h1>

    <form method="post" action="{% url 'decentmark:assignment_edit' assignment.id %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {% render_field form.name class+="form-control" placeholder=form.name.label %}
        </div>
        <div class="form-group">
            {{ form.start.errors }}
            <label for="{{ form.start.id_for_label }}">Start:</label>
            {% render_field form.start class+="form-control" placeholder=form.start.label %}
        </div>
        <div class="form-group">
            {{ form.end.errors }}
            <label for="{{ form.end.id_for_label }}">End:</label>
            {% render_field form.end class+="form-control" placeholder=form.end.label %}
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {% render_field form.description class+="form-control" placeholder=form.name.label %}
        </div>
        <div class="form-group">
            {{ form.total.errors }}
            <label for="{{ form.total.id_for_label }}">Total:</label>
            {% render_field form.total class+="form-control" placeholder=form.name.label %}
        </div>
        <div class="form-group">
            {{ form.test.errors }}
            <label for="{{ form.test.id_for_label }}">Test:</label>
            {% render_field form.test class+="form-control" placeholder=form.name.label %}
        </div>
        <div class="form-group">
            {{ form.solution.errors }}
            <label for="{{ form.solution.id_for_label }}">Solution:</label>
            {% render_field form.solution class+="form-control" placeholder=form.name.label %}
        </div>
        <div class="form-group">
            {{ form.template.errors }}
            <label for="{{ form.template.id_for_label }}">Template:</label>
            {% render_field form.template class+="form-control" placeholder=form.name.label %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
