{% extends "base.html" %}

{% block title %}{{ unit.name }} Assignments{% endblock %}

{% block content %}
    <div class="container">

        <h1>{{ unit.name }} Assignments</h1>

        <ol type="1">
        {% for assignment in assignment_list %}
            <li class="well well-sm">
                <a href="{% url 'decentmark:assignment_view' assignment.id %}">{{ assignment.name }}</a>
            </li>
        {% endfor %}
        </ol>

        <div>
        {% if user.is_staff %}
            <a href="{% url 'decentmark:assignment_create' unit.id %}" class="btn btn-primary">Create new assignment</a>
        {% endif %}
        </div>
        <div>
            <a href="{% url 'decentmark:unit_view' unit.id %}" class="btn btn-success">Unit Home</a>
        </div>
    </div>
{% endblock %}
