{% extends "base.html" %}
{% load static %}
{% block head %} {% endblock %}
{% block title %}{{ unit.name }} Assignments{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ unit.name }} Assignments</h1>
            <table class="table table-bordered">
                <thead>
                    <tr class="info">
                        <th>Name of Assignment</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for assignment in assignment_list %}
                            <tr>
                                <td><a href="{% url 'decentmark:assignment_view' assignment.id %}">{{ assignment.name }}</a></td>
                                <td><a>{{ assignment.start }}</a></td>
                                <td><a>{{ assignment.end }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>

            <div>
                {% if request.unit_user.create %}
                    <a href="{% url 'decentmark:assignment_create' unit.id %}" class="btn btn-primary">Create new assignment</a>
                {% endif %}
            </div>
            <div class="position">
                <a href="{% url 'decentmark:unit_view' unit.id %}" class="btn btn-success">Unit Home</a>
            </div>
    </div>
{% endblock %}
