{% extends "base.html" %}

{% block title %}{{ unit.name }} {{ assignment.name }} Submissions{% endblock %}

{% block content %}
    <h1>{{ assignment.name }} Submissions</h1>
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Student Submission</th>
                    <th>Submitted on</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submission_list %}
                    <tr>
                        <td><a href="{% url 'decentmark:submission_view' submission.id %}">{{ submission.user.username }}</a></td>
                        <td>{{ submission.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'decentmark:assignment_view' assignment.id %}" class="btn btn-info" role="button" aria-pressed="true">Return to Assignments</a>
{% endblock %}
