{% extends "base.html" %}

{% block title %}{{ unit.name }} {{ assignment.name }} Submissions{% endblock %}
{% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{% url 'decentmark:unit_list' %}">Home</a></li>
        <li class="breadcrumb-item "><a href="{% url 'decentmark:unit_view' unit.id %}">{{ unit.name }}</a></li>
        <li class="breadcrumb-item "><a href="{% url 'decentmark:assignment_list' unit.id %}">List of Assignments in {{ unit.name }}</a></li>
        <li class="breadcrumb-item "><a href="{% url 'decentmark:assignment_view' assignment.id %}">{{ unit.name }} - {{ assignment.name }} </a></li>
        <li class="breadcrumb-item active">Submissions List</li>
{% endblock %}
{% block content %}
    <h1>{{ assignment.name }} Submissions</h1>
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Student Submission</th>
                    <th>Submitted on</th>
                    <th>Submission Status</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submission_list %}
                    <tr>
                        <td><a href="{% url 'decentmark:submission_view' submission.id %}">{{ submission.user.username }}</a></td>
                        <td>{{ submission.date }}</td>
                        <td>{{ submission.autostatus }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'decentmark:assignment_view' assignment.id %}" class="btn btn-info" role="button" aria-pressed="true">Return to Assignments</a>
{% endblock %}
