{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ unit.name }} - {{ assignment.name }} Submission{% endblock %}

{% block content %}
    <h1>Make a submission for {{ assignment.name }}</h1>

    <form method="post" action="{% url 'decentmark:submission_create' assignment.id %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.solution.errors }}
            <label for="{{ form.solution.id_for_label }}">Solution:</label>
            {% render_field form.solution class+="form-control" placeholder=form.solution.label %}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'decentmark:assignment_view' assignment.id %}" class="btn btn-info" role="button" aria-pressed="true">Return to Assignment</a>

    </form>
{% endblock %}
