{% extends "base.html" %}

{% block title %}{{ unit.name }}{% endblock %}

{% block content %}
    <div class="container">
            <h4>Unit Name</h4>
            <div class="well well-sm">
            <p>{{ unit.name }}</p>
            </div>
            <h4>Description</h4>
            <div class="well well-lg">
            <p>{{ unit.description }}</p>
            </div>

            <a href="{% url 'decentmark:assignment_list' unit.id %}" class="btn btn-primary" role="button" aria-pressed="true">Assignments</a>
            {% if user.is_staff %}
            <a href="{% url 'decentmark:unit_edit' unit.id %}" class="btn btn-danger" role="button" aria-pressed="true">Edit Unit</a>
            {% endif %}
            <a href="{% url 'decentmark:unit_list' %}" class="btn btn-info" role="button" aria-pressed="true">Return to Unit List</a>
    </div>
{% endblock %}
