{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ unit.name }} Invite People {% endblock %}

{% block content %}
    <h1>Invite People</h1>

    <form method="post" action="{% url 'decentmark:unit_users_invite' unit.id %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.user.errors }}
            <label for="{{ form.user.id_for_label }}">User:</label>
            {% render_field form.user class+="form-control" placeholder=form.user.label %}
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock %}