{% extends "base.html" %}
{% load static %}
{% block head %} {% endblock %}
{% block title %}Unit List{% endblock %}

{% block content %}
    <div class="container">
        <h1>List of Units</h1>
            <ol type="1">
            {% for unit in unit_list %}
                <li class="well well-sm">
                    <a href="{% url 'decentmark:unit_view' unit.id %}">{{ unit.name }}</a>
                </li>
            {% endfor %}
            </ol>

            <div class = "position">
                {% if user.is_staff %}
                    <a href="{% url 'decentmark:unit_create' %}" class="btn btn-success">Create new unit</a>
                {% endif %}
            </div>
    </div>
{% endblock %}
