{% extends "base.html" %}

{% block title %}{{ unit.name }}{% endblock %}

{% block content %}
    <div class="container">
         <div class="panel panel-info">
             <div class="panel-heading">
                <h3>{{ unit.name }}</h3>
             </div>
             <div class="panel-body">
                <p>{{ unit.description }}</p>
             </div>
         </div>
            <p><a href="{% url 'decentmark:assignment_list' unit.id %}" class="btn btn-primary">Assignments</a></p>
            {% if user.is_staff %}
            <p><a href="{% url 'decentmark:unit_edit' unit.id %}" class="btn btn-danger">Edit Unit</a></p>
            {% endif %}
            <p><a href="{% url 'decentmark:unit_list' %}" class="btn btn-success">Return to Unit List</a></p>
    </div>
{% endblock %}
