{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ unit.name }} Invite People {% endblock %}
{% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{% url 'decentmark:unit_list' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'decentmark:unit_view' unit.id %}">{{ unit.name }}</a></li>
        <li class="breadcrumb-item active">Invite a User to {{ unit.name }}</li>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Invite People</h1>
    <form enctype="multipart/form-data" method="post" action="{% url 'decentmark:unit_users_invite' unit.id %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.users.errors }}
            <label for="{{ form.users.id_for_label }}">Users:</label>
            <div class="btn btn-primary btn-file">
                {% render_field form.users class+="FileField()" %}
            </div>
        </div>
        <div class="form-group">
            {{ form.create.errors }}
             <label for="{{ form.create.id_for_label }}">Create:</label>
            {% render_field form.create class+="BooleanField(required=False)" %}
        </div>
        <div class="form-group">
            {{ form.mark.errors }}
            <label for="{{ form.mark.id_for_label }}">Mark:</label>
            {% render_field form.mark class+="BooleanField(required=False)" %}
        </div>
        <div class="form-group">
            {{ form.submit.errors }}
            <label for="{{ form.submit.id_for_label }}">Submit:</label>
            {% render_field form.submit class+="BooleanField(required=False)" %}
        </div>
        <button type="submit" class="btn btn-warning" role="button" aria-pressed="true">Submit</button>
    </form>
</div>
{% endblock %}